<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:rim="http://www.blackberry.com/ns/widgets"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.beuckman.applepay"
      version="0.0.2">

    <name>Apple Pay</name>
    <description>Implements ApplePay request.</description>
    <keywords>cordova,payment,apple pay</keywords>
    <repo>git@bitbucket.org:jbeuckm/cordova-plugin-applepay.git</repo>
    

    <platform name="ios">

        <js-module src="www/applepay.js" name="payment">
            <clobbers target="ApplePay" />
        </js-module>
        
        <framework src="PassKit.framework"/>
        
        <header-file src="src/ios/CDVApplePay.h"/>
        <source-file src="src/ios/CDVApplePay.m"/>

        <config-file target="config.xml" parent="/*">
	        <feature name="ApplePay">
	            <param name="ios-package" value="CDVApplePay"/>
	        </feature>
        </config-file>
        
    </platform>
    
</plugin>
